<p-table [value]="data" #dt [globalFilterFields]="['email']" [responsive]="true">
    <!-- Search Filter In Table By title -->
    <ng-template pTemplate="caption">
        <div id="filterbox">
            <input type="text" pInputText size="50" placeholder="Search the table by email"
                (input)="dt.filterGlobal($event.target.value, 'startsWith')" style="height:35px;padding-left: 25px;">
        </div>
    </ng-template>
    <!-- Get Url Details Display In Table -->
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Avatar </th>
            <th>Email </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Results>
        <tr (click)="selectRow(Results)">
            <td>{{Results.id}}</td>
            <td>{{Results.first_name}}</td>
            <td>{{Results.last_name}}</td>
            <td id="lineBreake">{{Results.avatar}}</td>
            <td>{{Results.email}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div [attr.colspan]="cols.length">No data found.</div>
    </ng-template>
</p-table>
<!-- Model Popup Click Row Details Display -->
<p-dialog header="Selected Row RawData In The Table" [(visible)]="display" modal="true" [dismissableMask]="true">
     {{selectedRow|json}}
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary">Cancel</button>
    </p-footer>
</p-dialog>